In [32]:
import pandas as pd

In [43]:
df = pd.read_csv(r"C:\Kenil Ramani\QB\GoalBot\CSV\dataset_v1.26.csv")
df4 = pd.read_csv(r"C:\Kenil Ramani\QB\GoalBot\CSV\dataset_v1.27.csv")
df2 = pd.read_csv(r"C:\Kenil Ramani\QB\neel\dataset\dataset_v1.24.csv")
df3 = pd.read_csv(r"C:\Kenil Ramani\QB\neel\dataset\dataset_v1.25.csv")

In [34]:
df

,invoiceDate,quarter,month,year,day_of_week,day_of_month,day_of_year,week_of_year,salesDetails_id,billAmount,...,hqId,regionId,qty,free,rate,amount,productId,divisionId,mrp,packingTypeId
0,6/23/2023,2,6,2023,6,23,174,25,195,140385,...,1.0,1.0,200,0,52.07,10414.0,168.0,3.0,85.50,28.0
1,6/23/2023,2,6,2023,6,23,174,25,195,140385,...,1.0,1.0,30,0,333.26,9997.8,261.0,3.0,486.00,28.0
2,6/23/2023,2,6,2023,6,23,174,25,195,140385,...,1.0,1.0,30,0,25.46,763.8,218.0,3.0,43.20,28.0
3,7/6/2022,3,7,2022,4,6,187,28,594,29491,...,15.0,1.0,50,0,48.60,2430.0,227.0,3.0,79.20,42.0
4,7/6/2022,3,7,2022,4,6,187,28,594,29491,...,15.0,1.0,30,0,46.09,1382.7,71.0,3.0,79.16,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
207641,4/15/2024,2,4,2024,2,15,106,16,109731,30742,...,45.0,1.0,50,0,46.29,2314.5,17233.0,3.0,72.00,28.0
207642,4/8/2024,2,4,2024,2,8,99,15,108879,24032,...,45.0,1.0,60,0,46.29,2777.4,17233.0,3.0,72.00,28.0
207643,11/4/2022,4,11,2022,6,4,308,45,74442,27073,...,45.0,1.0,20,0,104.14,2082.8,265.0,3.0,162.00,28.0
207644,11/7/2022,4,11,2022,2,7,311,46,74558,17185,...,45.0,1.0,40,0,104.14,4165.6,265.0,3.0,162.00,28.0
207645,11/12/2022,4,11,2022,7,12,316,46,75341,3600,...,14.0,1.0,50,0,64.29,3214.5,13.0,1.0,158.40,42.0

In [35]:
df.isna().sum()

invoiceDate             0
quarter                 0
month                   0
year                    0
day_of_week             0
day_of_month            0
day_of_year             0
week_of_year            0
salesDetails_id         0
billAmount              0
stockistId          42557
chemistId          165089
hqId                    0
regionId                0
qty                     0
free                    0
rate                    0
amount                  0
productId               0
divisionId              0
mrp                     0
packingTypeId           0
dtype: int64

In [36]:
dff = df[(df['salesDetails_id']==564) & (df['productId']==42)]
print(dff.to_string())

     invoiceDate  quarter  month  year  day_of_week  day_of_month  day_of_year  week_of_year  salesDetails_id  billAmount  stockistId  chemistId  hqId  regionId  qty  free   rate  amount  productId  divisionId    mrp  packingTypeId
1505    7/1/2023        3      7  2023            7             1          182            26              564       52305       102.0        NaN  15.0       1.0   10     0  98.85   988.5       42.0         1.0  180.0           37.0
1506    7/1/2023        3      7  2023            7             1          182            26              564       52305       102.0        NaN  15.0       1.0   10     0  98.85   988.5       42.0         1.0  180.0           37.0

In [37]:
# df.drop_duplicates()

In [38]:
df_temp = df[df.duplicated()]
df_temp

,invoiceDate,quarter,month,year,day_of_week,day_of_month,day_of_year,week_of_year,salesDetails_id,billAmount,...,hqId,regionId,qty,free,rate,amount,productId,divisionId,mrp,packingTypeId
1506,7/1/2023,3,7,2023,7,1,182,26,564,52305,...,15.0,1.0,10,0,98.85,988.50,42.0,1.0,180.00,37.0
2026,7/7/2023,3,7,2023,6,7,188,27,851,14735,...,7.0,1.0,50,0,50.91,2545.50,169.0,3.0,85.50,28.0
2086,7/3/2023,3,7,2023,2,3,184,27,643,20332,...,7.0,1.0,10,0,92.57,925.70,217.0,1.0,157.50,36.0
2108,7/4/2023,3,7,2023,3,4,185,27,698,162919,...,17.0,1.0,100,0,34.71,3471.00,256.0,3.0,59.40,44.0
4385,7/22/2023,3,7,2023,7,22,203,29,1610,4962,...,8.0,1.0,0,2,63.64,0.00,165.0,3.0,108.00,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109263,6/18/2022,2,6,2022,7,18,169,25,14362,85506,...,1.0,1.0,2,0,115.71,231.42,26.0,1.0,216.00,38.0
110150,6/11/2024,2,6,2024,3,11,163,24,50051,27596,...,15.0,1.0,10,0,92.57,925.70,236.0,3.0,158.40,42.0
115627,5/4/2024,2,5,2024,7,4,125,18,49890,51298,...,15.0,1.0,50,0,46.29,2314.50,224.0,3.0,72.00,28.0
121156,5/1/2023,2,5,2023,2,1,121,18,11577,73877,...,17.0,1.0,30,0,20.83,624.90,38.0,3.0,35.64,28.0
127886,5/17/2023,2,5,2023,4,17,137,20,13209,19097,...,15.0,1.0,20,0,127.29,2545.80,50.0,3.0,126.00,28.0

In [39]:
duplicates = df[df.duplicated()]
duplicates

,invoiceDate,quarter,month,year,day_of_week,day_of_month,day_of_year,week_of_year,salesDetails_id,billAmount,...,hqId,regionId,qty,free,rate,amount,productId,divisionId,mrp,packingTypeId
1506,7/1/2023,3,7,2023,7,1,182,26,564,52305,...,15.0,1.0,10,0,98.85,988.50,42.0,1.0,180.00,37.0
2026,7/7/2023,3,7,2023,6,7,188,27,851,14735,...,7.0,1.0,50,0,50.91,2545.50,169.0,3.0,85.50,28.0
2086,7/3/2023,3,7,2023,2,3,184,27,643,20332,...,7.0,1.0,10,0,92.57,925.70,217.0,1.0,157.50,36.0
2108,7/4/2023,3,7,2023,3,4,185,27,698,162919,...,17.0,1.0,100,0,34.71,3471.00,256.0,3.0,59.40,44.0
4385,7/22/2023,3,7,2023,7,22,203,29,1610,4962,...,8.0,1.0,0,2,63.64,0.00,165.0,3.0,108.00,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
109263,6/18/2022,2,6,2022,7,18,169,25,14362,85506,...,1.0,1.0,2,0,115.71,231.42,26.0,1.0,216.00,38.0
110150,6/11/2024,2,6,2024,3,11,163,24,50051,27596,...,15.0,1.0,10,0,92.57,925.70,236.0,3.0,158.40,42.0
115627,5/4/2024,2,5,2024,7,4,125,18,49890,51298,...,15.0,1.0,50,0,46.29,2314.50,224.0,3.0,72.00,28.0
121156,5/1/2023,2,5,2023,2,1,121,18,11577,73877,...,17.0,1.0,30,0,20.83,624.90,38.0,3.0,35.64,28.0
127886,5/17/2023,2,5,2023,4,17,137,20,13209,19097,...,15.0,1.0,20,0,127.29,2545.80,50.0,3.0,126.00,28.0

In [40]:
df2

,invoiceDate,quarter,month,year,day_of_week,day_of_month,day_of_year,week_of_year,salesDetails_id,billAmount,...,hqId,regionId,qty,free,rate,amount,productId,divisionId,mrp,packingTypeId
0,6/23/2023,2,6,2023,6,23,174,25,195,140385,...,1.0,1.0,200,0,52.07,10414.0,168.0,3.0,85.50,28.0
1,6/23/2023,2,6,2023,6,23,174,25,195,140385,...,1.0,1.0,30,0,333.26,9997.8,261.0,3.0,486.00,28.0
2,6/23/2023,2,6,2023,6,23,174,25,195,140385,...,1.0,1.0,30,0,25.46,763.8,218.0,3.0,43.20,28.0
3,7/6/2022,3,7,2022,4,6,187,28,594,29491,...,15.0,1.0,50,0,48.60,2430.0,227.0,3.0,79.20,42.0
4,7/6/2022,3,7,2022,4,6,187,28,594,29491,...,15.0,1.0,30,0,46.09,1382.7,71.0,3.0,79.16,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
128949,11/6/2024,4,11,2024,4,6,311,45,44774,3810,...,1.0,1.0,10,1,48.59,485.9,8.0,3.0,69.30,28.0
128950,10/7/2024,4,10,2024,2,7,281,41,53613,23005,...,8.0,1.0,30,30,54.00,1620.0,8.0,3.0,69.30,28.0
128951,10/7/2024,4,10,2024,2,7,281,41,53613,23005,...,8.0,1.0,30,30,49.29,1478.7,208.0,3.0,69.00,28.0
128952,1/17/2025,1,1,2025,6,17,17,3,56677,5106,...,1.0,1.0,30,3,48.59,1457.7,8.0,3.0,69.30,28.0
128953,3/3/2022,1,3,2022,5,3,62,10,10076,1709,...,1.0,1.0,10,0,57.86,578.6,172.0,3.0,90.00,28.0

In [41]:
df2_temp = df2[df2.duplicated()]
df2_temp

,invoiceDate,quarter,month,year,day_of_week,day_of_month,day_of_year,week_of_year,salesDetails_id,billAmount,...,hqId,regionId,qty,free,rate,amount,productId,divisionId,mrp,packingTypeId
1619,7/1/2023,3,7,2023,7,1,182,26,564,52305,...,15.0,1.0,10,0,98.85,988.50,42.0,1.0,180.0,37.0
2189,7/7/2023,3,7,2023,6,7,188,27,851,14735,...,7.0,1.0,50,0,50.91,2545.50,169.0,3.0,85.5,28.0
2270,7/3/2023,3,7,2023,2,3,184,27,643,20332,...,7.0,1.0,10,0,92.57,925.70,217.0,1.0,157.5,36.0
2292,7/4/2023,3,7,2023,3,4,185,27,698,162919,...,17.0,1.0,100,0,34.71,3471.00,256.0,3.0,59.4,44.0
4628,7/22/2023,3,7,2023,7,22,203,29,1610,4962,...,8.0,1.0,0,2,63.64,0.00,165.0,3.0,108.0,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
110006,11/26/2024,4,11,2024,3,26,331,48,55084,142148,...,17.0,1.0,30,0,86.78,2603.40,189.0,3.0,135.0,28.0
113320,7/1/2024,3,7,2024,2,1,183,27,46003,67043,...,45.0,1.0,10,0,267.30,2673.00,253.0,3.0,450.0,28.0
118618,6/18/2022,2,6,2022,7,18,169,25,14362,85506,...,1.0,1.0,2,0,115.71,231.42,26.0,1.0,216.0,38.0
119564,6/11/2024,2,6,2024,3,11,163,24,50051,27596,...,15.0,1.0,10,0,92.57,925.70,236.0,3.0,158.4,42.0
125515,5/4/2024,2,5,2024,7,4,125,18,49890,51298,...,15.0,1.0,50,0,46.29,2314.50,224.0,3.0,72.0,28.0

In [42]:
df3_temp = df3[df3.duplicated()]
df3_temp

Empty DataFrame
Columns: [invoiceDate, quarter, month, year, day_of_week, day_of_month, day_of_year, week_of_year, salesDetails_id, billAmount, stockistId, chemistId, hqId, regionId, qty, free, rate, amount, productId, divisionId, mrp, packingTypeId]
Index: []

[0 rows x 22 columns]

In [44]:
df4_temp = df4[df4.duplicated()]
df4_temp

,invoiceDate,quarter,month,year,day_of_week,day_of_month,day_of_year,week_of_year,salesDetails_id,billAmount,...,hqId,regionId,qty,free,rate,amount,productId,divisionId,mrp,packingTypeId
1619,7/1/2023,3,7,2023,7,1,182,26,564,52305,...,15.0,1.0,10,0,98.85,988.50,42.0,1.0,180.00,37.0
2189,7/7/2023,3,7,2023,6,7,188,27,851,14735,...,7.0,1.0,50,0,50.91,2545.50,169.0,3.0,85.50,28.0
2270,7/3/2023,3,7,2023,2,3,184,27,643,20332,...,7.0,1.0,10,0,92.57,925.70,217.0,1.0,157.50,36.0
2292,7/4/2023,3,7,2023,3,4,185,27,698,162919,...,17.0,1.0,100,0,34.71,3471.00,256.0,3.0,59.40,44.0
4628,7/22/2023,3,7,2023,7,22,203,29,1610,4962,...,8.0,1.0,0,2,63.64,0.00,165.0,3.0,108.00,28.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
118618,6/18/2022,2,6,2022,7,18,169,25,14362,85506,...,1.0,1.0,2,0,115.71,231.42,26.0,1.0,216.00,38.0
119564,6/11/2024,2,6,2024,3,11,163,24,50051,27596,...,15.0,1.0,10,0,92.57,925.70,236.0,3.0,158.40,42.0
125515,5/4/2024,2,5,2024,7,4,125,18,49890,51298,...,15.0,1.0,50,0,46.29,2314.50,224.0,3.0,72.00,28.0
131746,5/1/2023,2,5,2023,2,1,121,18,11577,73877,...,17.0,1.0,30,0,20.83,624.90,38.0,3.0,35.64,28.0
139003,5/17/2023,2,5,2023,4,17,137,20,13209,19097,...,15.0,1.0,20,0,127.29,2545.80,50.0,3.0,126.00,28.0